.cart {
    .cart-items {
        .item-line {
            list-style: none;
            height: 150px;

            .image {
                height: 120px;
                img {
                    max-height: 120px;
                    max-width: 120px;
                }
            }
            .item-name {
                text-transform: uppercase;
                font-weight: bold;
            }
            .description {
                font-size: 0.8rem;
            }
            .price {
                font-size: 1rem;
            }

            .amount {
                .amount-picker {
                    max-width: 100px;
                }
            }
            .delete {
                .button-delete {
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                    font-size: 2rem;
                    color: red;
                }
            }
        }
        .cart-items-header {
            height: 40px;
        }
        .cart-items-header,
        .item-line {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
            align-items: center;
            gap: 15px;
        }
        .item-lines {
            margin: 0;
            padding: 0;
        }

        [class^="col"] {
            display: flex;
            justify-content: center;
        }
    }

    padding: 0 15px;

    .no-items {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }

    .delete-all {
        background-color: transparent;
        border: 0;
        text-decoration: underline;
        cursor: pointer;
        padding: 0;
    }

    .cart-header {
        display: flex;
        margin-top: 5px;
        .delete-all {
            margin-left: auto;
        }
    }

    .summary {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        .total-price {
            grid-column: 3;
            font-size: 1.2rem;
        }
        .free-shipping-progress {
            grid-column: 2;
            .text {
                margin-bottom: 5px;
            }
            .bar-wrapper {
                border: 1px solid;
                height: 30px;
                position: relative;
                .bar {
                    background-color: rgb(29, 185, 76);
                    height: 100%;
                }
                .bar-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .checkout {
            grid-row: 3;
            grid-column: 3;
            justify-self: center;

            button {
                padding: 20px 50px;
                background-color: rgb(238, 173, 53);
                border: 0;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
            }
        }
    }
}
