header {
    display: flex;
    border: 1px dashed green;
    justify-content: space-between;

    h2 {
        margin-left: 50px;
        text-transform: uppercase;
    }

    .cart-amount {
        font-size: 2.8rem;
        background-color: burlywood;
        color: rgb(80, 52, 16);
        font-weight: bold;
        &.animate {
            animation: scale 350ms;
        }
    }

    .cart-icon {
        color: brown;
        font-size: 2.5rem;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        display: flex;
        gap: 20px;
        align-items: center;
        height: 50px;
        margin: 10px 10px;

        a {
            list-style: none;
            color: black;
            text-decoration: none;
        }
    }
}
.menu-item,
.button {
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

@keyframes scale {
    to {
        transform: scale(0.35);
    }
}
