.product-page {
    padding: 10px 20px;
    .main-info {
        display: grid;
        grid-template:
            "title category" auto
            "image ." auto
            "image rating" auto
            "image ." auto
            "image actions" auto
            / 800px 1fr;
        column-gap: 20px;

        .title {
            grid-area: title;
        }
        .image {
            grid-area: image;
            > div {
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .rating {
            grid-area: rating;
            display: grid;
            grid-template-columns: max-content auto;
            align-items: center;
            gap: 10px;
            .votes {
                color: rgba(0, 0, 0, 0.664);
                padding-left: 4px;
            }
        }
        .category {
            justify-self: end;
            align-self: center;
        }

        .cart-actions {
            grid-area: actions;
            display: grid;
            grid-template:
                "price ."
                "amount add" / 1fr 2fr;
            gap: 15px;
            .price {
                grid-area: price;
                font-size: 2rem;
            }
            .amount-picker {
                grid-area: amount;
            }
            button.add-to-cart {
                grid-area: add;
                background-color: rgb(238, 173, 53);
                border-radius: 20px;
                border: 0;
                padding: 15px 15px;
            }
        }
    }
    .description {
        margin-top: 50px;
        width: 50%;
    }
}
