html {
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main {
    width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --yellow-color: rgb(238, 173, 53);
    --yellow-color-trans: rgba(238, 173, 53, 0.418);
}
