html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main {
    max-width: 1200px;
    min-width: 900px;
    border: 3px dotted;
}
